@import '@/scss/_main.scss';

.hem {
    .grid {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);

        .item1 {
            grid-area: 1 / 1 / span 1 / span 8;
            margin: 0 0 -0.25rem 0;

            img {
                width: 100%;
                height: 50vw;
                object-fit: cover;
                opacity: 0.7;
            }
        }
        .item2 {
            grid-area: 2 / 1 / span 1 / span 8;
            margin: 0;
            background-color: $lightbeige;
            padding: 4rem 2rem;
            height: 50vw;
        }
        .item3 {
            grid-area: 3 / 1 / span 1 / span 8;
            margin: 0;
            background-color: $lightgreen;
            height: 50vw;
            padding: 0.5rem;
        }
        .item4 {
            grid-area: 4 / 1 / span 1 / span 8;
            margin: 0;
            background-color: $green;

            img {
                width: 100%;
                height: 50vw;
                object-fit: cover;
                opacity: 0.6;
            }
        }
        .item5 {
            grid-area: 5 / 1 / span 1 / span 8;
            margin: 0;
            background-color: $whitebeige;
            
            img {
                height: 100%;
                height: 50vw;
                object-fit: cover;
            }
        }
        .item6 {
            grid-area: 6 / 1 / span 1 / span 8;
            margin: 0;
            background-color: $lightbeige;
            height: 50vw;
            padding: 0.5rem;
        }
    }
}
@media (min-width: 770px) {
    .hem {
        .grid {
            .item1 {
                grid-area: 1 / 1 / span 1 / span 4;
                margin: 0 0 1rem 0;

                img {
                    height: 30vw;
                }
            }
            .item2 {
                grid-area: 1 / 5 / span 1 / span 4;
                margin: 0 0 1rem 0;
                padding: 2rem;
                height: 30vw;
            }
            .item3 {
                grid-area: 2 / 1 / span 1 / span 4;
                margin: 1rem 0;
                padding: 2rem;
                height: 30vw;
            }
            .item4 {
                grid-area: 2 / 5 / span 1 / span 4;
                margin: 1rem 0;

                img {
                    height: 29vw;
                }
            }
            .item5 {
                grid-area: 3 / 1 / span 1 / span 4;
                margin: 1rem 0 2rem 0;
               
                img {
                    height: 29vw;
                }
            }
            .item6 {
                grid-area: 3 / 5 / span 1 / span 4;
                margin: 1rem 0 2rem 0;
                padding: 2rem;
                height: 30vw;
            }
        }
    }
}