@import '@/scss/_main.scss';

.hem {
    .grid {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);

        #item0 {
            grid-area: 1 / 1 / span 1 / span 8;
            background-color: $green;
        }

        #item1 {
            grid-area: 2 / 1 / span 1 / span 8;
            margin: 0 0 -0.25rem 0;
        }
        #item2 {
            grid-area: 3 / 1 / span 1 / span 8;
            background-color: $gray;
        }
        #item3 {
            grid-area: 5 / 1 / span 1 / span 8;
            background-color: $blue;
        }
        #item4 {
            grid-area: 4 / 1 / span 1 / span 8;
            background-color: $beige;
        }
        #item5 {
            grid-area: 6 / 1 / span 1 / span 8;
            background-color: $beige;
        }
        #item6 {
            grid-area: 7 / 1 / span 1 / span 8;
            background-color: $green;
        }
    }
}
@media (min-width: 770px) {
    .hem {
        .grid {
            #item0 {
                justify-content: left;
                margin: 0 0 2rem 0;
                padding: 2rem 4rem;
                height: 12rem;
            }
            #item1 {
                grid-area: 2 / 1 / span 1 / span 4;
                margin: 0 0 1rem 0;
            }
            #item2 {
                grid-area: 2 / 5 / span 1 / span 4;
                margin: 0 0 1rem 0;
                padding: 2rem;
            }
            #item3 {
                grid-area: 3 / 1 / span 1 / span 4;
                margin: 1rem 0;
                padding: 2rem;
            }
            #item4 {
                grid-area: 3 / 5 / span 1 / span 4;
                margin: 1rem 0;
            }
            #item5 {
                grid-area: 4 / 1 / span 1 / span 4;
                margin: 1rem 0;
            }
            #item6 {
                grid-area: 4 / 5 / span 1 / span 4;
                margin: 1rem 0 2rem 0;
                padding: 2rem;
            }
        }
    }
}