@import '@/scss/_main.scss';

.kontakt {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    background-color: $blue;

    .grid {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        padding: 3rem;
        margin: 1rem;
        border-radius: 0.2rem;
        background-color: #535561;
        grid-area: 1 / 2 / span 1 / span 6;
        color: $white;

        #item1 {
            grid-area: 1 / 1 / span 1 / span 8;
            margin: 0.3rem;
        }
        #item2 {
            grid-area: 2 / 1 / span 1 / span 8;
        }
        #item3 {
            grid-area: 3 / 1 / span 1 / span 8;
            margin: 0.3rem;
        }
        #item4 {
            grid-area: 4 / 1 / span 1 / span 8;
        }
        #item5 {
            grid-area: 5 / 1 / span 1 / span 8;
            margin: 0.3rem;
        }
        #item6 {
            grid-area: 6 / 1 / span 1 / span 8;
        }
        #item7 {
            grid-area: 7 / 1 / span 1 / span 8;
            margin: 0.3rem 0;
            padding: 0.8rem 0;
            border-radius: 0.2rem;
            border: none;
            background-color: $darkgray;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}
@media (min-width: 770px) {
    .kontakt {
        padding: 1rem 12rem;

        .grid {
            padding: 1.5rem 2.5rem;
            margin: 2rem 0;

            #item1 {
                grid-area: 1 / 1 / span 1 / span 1;
                margin: 0.3rem 0;
                text-align: left;
            }
            #item2 {
                grid-area: 2 / 1 / span 1 / span 8;
            }
            #item3 {
                grid-area: 3 / 1 / span 1 / span 1;
                margin: 0.3rem 0;
                text-align: left;
            }
            #item4 {
                grid-area: 4 / 1 / span 1 / span 8;
            }
            #item5 {
                grid-area: 5 / 1 / span 1 / span 8;
                margin: 0.3rem 0;
                text-align: left;
            }
            #item6 {
                grid-area: 6 / 1 / span 1 / span 8;
            }
            #item7 {
                grid-area: 7 / 1 / span 1 / span 8;
                margin: 2rem 0 0.3rem 0;
                padding: 0.8rem 0;
                border-radius: 0.2rem;
                border: none;
            }
        }
    }
}
