@import '@/scss/_main.scss';

footer {
    .grid {
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        background-color: $footer;
        margin: 2rem 0 0 0;
        padding: 1.5rem 0 1rem 0;

        .item1 {
            grid-area: 1 / 1 / span 1 / span 3;

            p {
                font-size: 0.8rem;
                margin: 0.3rem;
            }
        }
        .item2 {
            grid-area: 1 / 4 / span 1 / span 2;
            img {
                width: 5vw;
                object-fit: cover;
            }
        }
        .item3 {
            grid-area: 1 / 6 / span 1 / span 3;
        
            .instagram {
                width: 6vw;
                object-fit: cover;
            }
            .facebook {
                width: 6vw;
                object-fit: cover;
            }
            .linkedin {
                width: 6vw;
                object-fit: cover;
                margin: 0 0.3rem;
            }
        }
    }
}