@import '@/scss/_main.scss';

footer {
    .grid {
        display: grid;
        grid-template-columns: repeat(9, 11.11%);
        background-color: $footer;
        margin: 0;
        padding: 0.5rem 0 0 0;
        color: $white;

        .item1 {
            grid-area: 1 / 1 / span 1 / span 9;
            margin: 0 0 0.5rem 0;

            p {
                font-size: 0.8rem;
                margin: 0.3rem;
            }
        }
        .item2 {
            grid-area: 2 / 5 / span 1 / span 9;
            margin: 0.2rem 0;
            img {
            width: 4rem;
            height: 100%;
            object-fit: cover;
            }
        }
        .item3 {
            grid-area: 3 / 4 / span 1 / span 1;
            margin: 0.2rem 0;
            .instagram {
                height: 100%;
                width: 4rem;
                object-fit: cover;
            }
        }
        .item4 {
            grid-area: 3 / 5 / span 1 / span 1;
            margin: 0.2rem 0;
            .facebook {
                height: 100%;
                width: 4rem;
                object-fit: cover;
            }
        }
        .item5 {
            grid-area: 3 / 6 / span 1 / span 1;
            margin: 0.2rem 0;
            .linkedin {
                height: 100%;
                width: 4rem;
                object-fit: cover;
            }
        }
    }
}
@media (min-width: 768px) {
    footer {
    .grid {
        padding: 1rem 3rem;
        
        .item1 {
            grid-area: 1 / 1 / span 1 / span 3;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            vertical-align: middle;

            p {
                font-size: 0.8rem;
                margin: 0.3rem;
                color: $white;
            }
        }
        .item2 {
            grid-area: 1 / 5 / span 1 / span 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            vertical-align: middle;

            img {
                width: 4rem;
            }
            
        }
        .item3 {
            grid-area: 1 / 7 / span 1 / span 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        
            .instagram {
                height: 3.5rem;
            }
        }
        .item4 {
            grid-area: 1 / 8 / span 1 / span 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
            .facebook {
                height: 3.5rem;
            }
        }
        .item5 {
            grid-area: 1 / 9 / span 1 / span 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .linkedin {
                height: 3.5rem;
            }
        }
    }
}
}