@import 'variables';
.btn {
    background-color: $lightbeige;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
}
.input1 {
    background-color: $white;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
    border: none;
}
.input2 {
    background-color: $white;
    padding: 3rem 2rem;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
    border: none;
}