$white: #ffffff;
$darkgray: #d8d7d7;
$gray: #e6e6e6;
$lightgray: #eeeeee;
$whitebeige: #fbfbf2;
$lightbeige: #f5f5ec;
$beige: #eae7dd;
$darkbeige: #747370;
$lightgreen: #f4fbf7;
$green: #eaf0ed;
$footer: #646464;
$black: #000000;

