$white: #ffffff;
$darkgray: #d8d7d7;
$gray: #e6e6e6;
$lightgray: #eeeeee;
$lightbeige: #f5f5ec;
$beige: #eae7dd;
$darkbeige: #d6d3c9;
$lightgreen: #eaf0ed;
$green: #cdd3d0;
$footer: #646464;
$black: #000000;

